#!/bin/bash

export PROJECT_ID=gb-poc-373711
export LOCATION=europe-west1
export SERVICE_NAME=teams-league-service-rust
export REPO_NAME=internal-images
export IMAGE_TAG="latest"
export OUTPUT_DATASET="mazlum_test"
export OUTPUT_TABLE="team_stat"
export INPUT_BUCKET="mazlum_dev"
export INPUT_OBJECT="airflow/team_league/elt/input_teams_stats_raw.json"